  .section {
    width: 100%;
    height: auto;
  }

  .sec_company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  .about-us-heading {
    font-size: 40px !important;
  }

  .sec_headin {
    text-align: center;
  }

  .sec_headin h2 {
    font-size: 3rem;
    color: #002966;

  }

  .sec_headin p {
    color: #2bbcef;
    font-size: 22px;
    margin-top: -10px;
    letter-spacing: 1px;
  }

  .mission_sec {
    width: 95%;
    border: 1px solid rgba(128, 128, 128, 0.383);
    border-radius: 24px;
    backdrop-filter: blur(3px);
    padding: 24px;
    box-shadow: 5px 10px 5px rgba(128, 128, 128, 0.175);
    display: flex;
    /* gap: 40px; */
    margin-top: 15px;
    align-items: center;
    justify-content: space-around;
  }

  /* .mission_sec:hover {
    border: 1px solid #fca62d;
  } */

  .mission_sec-content {
    width: 50%;
  }

  .mission_sec p {
    font-size: 20px;
  }

  .fr-img img {
    width: 400px;
  }

  .mission_sec h3 {
    color: #002966;
    font-size: 30px !important;
    margin-bottom: 20px;
    font-weight: 800 !important;
  }

  /* core team */

  .team_sec {
    width: 60%;
    border: 1px solid rgba(128, 128, 128, 0.383);
    background-color: rgba(255, 255, 255, 0.196);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 24px;
    box-shadow: 5px 10px 5px rgba(128, 128, 128, 0.175);
    text-align: center;
    gap: 150px;
    margin-top: 15px;
  }

  .team_hagin h3 {
    color: #fca62d;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .boxes {
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  }

  .box_row {
    display: flex;
    margin-bottom: 50px;
    gap: 40px;
  }

  .box_row_end {
    margin-bottom: 0;
  }

  .boxin-img img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }

  .box {
    display: flex;
    width: 100%;
  }

  .box-headin {
    margin-left: 10px;
  }

  .boxin-mem h4 {
    font-size: 14px;
    font-weight: 800;
    margin-top: -6px;
  }

  .boxin-mem p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .boxin-des p {
    font-size: 13px;
  }

  .sec-left {
    text-align: end;
    margin-right: 10px;
    margin-left: 0;
  }



  /* @media (max-width: 900px) {
    .mission_sec {
        gap: 100px;
    }
  
    .mission_sec {
        gap: 70px;
    }
  
  } */

  @media (max-width: 1000px) {
    .fr-img img {
      width: 350px;
    }

    .mission_sec h3 {
      font-size: 35px !important;
    }

    .mission_sec p {
      font-size: 17px;
    }

    .mission_sec-content {
      width: 100%;
    }
  }

  @media (max-width: 900px) {
    .mission_sec {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 0;
      transition: ease 0.5s all;
    }

    .box {
      display: flex;
    }

    .box-sec-tow {
      flex-direction: row-reverse;
      text-align: end;
    }

    .box-sec-three {
      flex-direction: row-reverse;

    }

    .box-sec-three .box-headin {
      text-align: start;
      margin-left: 10px;
    }

    .boxin-mem h4 {

      margin-top: -3px;
    }

    .box-sec-tow .box-headin {
      margin-right: 10px;
    }

    .sec_headin h2 {
      font-size: 2.5rem;
    }

    .sec_headin p {

      font-size: 17px;
      transition: ease 0.5s all;
    }

    .mission_vission {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      transition: ease 0.5s all;
    }

    .box_row {
      display: flex;
      flex-direction: column;
    }


  }

  @media (max-width: 600px) {
    .sec_headin h2 {
      font-size: 2.2rem;
    }

    .team_sec {
      width: 90%;
      transition: ease 0.3s all;
    }

    .mission_sec {
      width: 90%;
    }

    .boxin-img img {
      height: 70px;
      width: 70px;
      border-radius: 10px;
    }

    .boxin-mem h4 {
      font-size: 13px;
      font-weight: 800;
      margin-top: -6px;
    }

    .boxin-mem p {
      font-size: 12px;
      margin-bottom: 15px;
    }

    .boxin-des p {
      font-size: 12px;
    }

    .sec-left {
      text-align: end;
      margin-right: 10px;
      margin-left: 0;
    }

    .fr-img img {
      width: 250px;
    }

    .mission_sec h3 {
      font-size: 27px !important;
    }
    .head {
      padding: 10px 20px 0 20px;
     
  }
  }

  @media (max-width: 440px) {
    .about-us-heading {
      font-size: 30px !important;
    }

    .fr-img img {
      width: 200px;
    }

    .mission_sec p {
      font-size: 15px;
    }

    .mission_sec h3 {
      font-size: 22px !important;
    }
  }

  /* foooter */

  .foot-text1 {
    color: #002966;
    font-weight: normal;
    transition: 0.1s ease;
  }

  .foot-text {
    color: #002966;
  }

  

  .dropdown {
    color: #002966;
  }

  .fa-brands:hover {
    transform: scale(1.5);
    transition: 0.2s;

  }

  #icon:hover {
    transform: scale(1.5);
    transition: 0.2s;

  }

  #icon {
    color: #002966;
    margin: 1%;
    font-size: 20px;
  }

  .fa-brands {
    color: #002966;
    margin: 1%;
    font-size: 30px;
    transition: 0.5s ease;
  }

  .foot-text1::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  .foot-text1:hover::after {
    width: 100%;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #002966;
  }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fb9405ed;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }